.carre{
    width: 100px;
    height: 100px;
    background-color: blue;
}

.rond{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
}
p{
    color: white;
    text-align: center;
}
.essai{
    background-color: beige;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;

}
#successMessage{
    display: none;
}